spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: "jdbc:postgresql://dburl:5432/testpg?currentSchema=schema&user=dbuser&password=dbpass"
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
server:
  port: 8080
logging:
  level:
    root: INFO
  org:
    springframework:
      web: WARN
    hibernate: DEBUG
styletribute:
  api:
    url: https://apiurl/
  origin:
    url: http://originurl
  token:
    admin: admintoken